<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IIS.Microsoft.Web.Administration" version="8.5.9600.17042" targetFramework="net45" />
  <package id="NLog" version="4.7.5" targetFramework="net45" />
  <package id="NLog.Config" version="4.7.5" targetFramework="net45" />
  <package id="NLog.Schema" version="4.7.5" targetFramework="net45" />
</packages>